/* To use the variable colours through out the different pages */
:root {
    --light-pink: #F9D8F9;
    --violet: #B726EA;
    --mauve: #D6CDD9;
    --white: #F4F2F8;

}

/* To style heading 1 */
h1 {
    float: center;
    text-align: center;
    width: 100%;
    font-size: 55px;
}

/* To style the "Who and I?" paragraph */
.who-am-i {
    text-align: center;
    margin: auto;
    width: 80%;
}

/* To style the "What we do" paragraph */
.what-we-do {
    text-align: center;
    margin: auto;
    width: 80%;
}

/* To style the resume button */
.btn {
    background-color: black;
    color: white;
    padding: 12px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5%;
    
}

/* To add padding to the resume button link */
.downloadlink {
    padding-bottom: 3%;
}

/* To style the image of myself */
.portrait img {
    margin: auto;
    display: block;
    border-radius: 50%;
    width: 25%;
    height: 25%;
}

/* To change the colour of the button when a pointer hovers over it */
.btn:hover {
    background-color: var(--violet);
}

/* To make screen responsive to mobile devices up to 900px */
@media screen and (max-width: 900px) {
    .portrait img {
        width: 40%;
    }
}
/* To make screen responsive to mobile devices up to 600px */
@media screen and (max-width: 600px) {
    h1 {
        float: center;
        text-align: center;
        width: 100%;
        font-size: 44px;
    }

    .portrait img {
        width: 50%;
    }
    
    .who-am-i {
        text-align: center;
        font-size: 12px;
    }
    
    .what-we-do {
        text-align: center;
        font-size: 12px;
    }
    
}