
/* To style the pages with these colours */
:root {
    --light-pink: #F9D8F9;
    --violet: #B726EA;
    --mauve: #D6CDD9;
    --white: #F4F2F8;

}

/* To the position of the icons */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* To add space in between the icons */
.social-media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

/* To change the size and colour of the icons */
.social-media a i {
    font-size: 32px;
    color: var(--black);
}

/* To style the position, making icons round and having no underline under the words */
nav a {
    text-decoration: none;
    background-color: var(--mauve);
    color: var(--violet);
    padding: 0.5rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1rem;
    float: left;
    flex-direction: column;
    justify-content: center;
    border-radius: 10%;
}

/* To give the footer a margin */
footer p {
    margin: 20px;
}