:root {
    --light-pink: #F9D8F9;
    --violet: #B726EA;
    --mauve: #D6CDD9;
    --white: #F4F2F8;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.social-media a i {
    font-size: 32px;
    color: var(--black);
}

nav {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    background-color: var(--mauve);
    color: var(--violet);
    padding: 0.5rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1rem;
    float: left;
    flex-direction: column;
    justify-content: center;
    border-radius: 10%;
}

footer p {
    margin: 20px;
}