/* :root {
    --light-pink: #F9D8F9;
    --violet: #B726EA;
    --mauve: #D6CDD9;
    --white: #F4F2F8;

}



@media (min-width: 600px) {
    body {
        height: 100vh;
        background: linear-gradient(
            to right,
            #B726EA 0%,
            #B726EA 60%,
            #F9D8F9 60%, 
            #F9D8F9 69%,
            #F4F2F8 69%,
            #F4F2F8 100%

        );
    
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .cover-photo img {
        width: 30%;
        height: 30%;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
    }

    .details, h1, h2 {
        background-color: var(--mauve);
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 1%;
        padding: .1rem;
        border-radius: 10%;
    }

    nav a {
        text-decoration: none;
        background-color: var(--mauve);
        color: var(--violet);
        padding: 0.5rem;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 1rem;
        float: left;s
        flex-direction: column;
        justify-content: center;
        border-radius: 10%;
    }
}



    
     */
