:root {
    --light-pink: #F9D8F9;
    --violet: #B726EA;
    --mauve: #D6CDD9;
    --white: #F4F2F8;

}

body {
    height: 100vh;
    background: linear-gradient(
        to right,
        #B726EA 0%,
        #B726EA 60%,
        #F9D8F9 60%, 
        #F9D8F9 69%,
        #F4F2F8 69%,
        #F4F2F8 100%
    );

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.cover-photo img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.details, h1, h2 {
    background-color: var(--mauve);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding: .1rem;
    border-radius: 10%;
}

.social-media {
    display: flex;
    justify-content: space-around;
}

.social-media a i {
    font-size: 32px;
    color: var(--mauve);
}

nav {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    background-color: var(--mauve);
    color: var(--violet);
    padding: 0.5rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1rem;
    float: left;
    flex-direction: column;
    justify-content: center;
    border-radius: 10%;
}
 
